/* SCSS HEX */
/* SCSS RGB */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  background: #fffcf2ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #403d39ff;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #ecf0f1;
  display: flex;
  padding-top: 40px;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.header-hr {
  width: 70%;
  margin: auto;
}

.headings {
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .about-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
  }
}

#about,
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  text-align: justify;
}
@media (min-width: 1024px) {
  #about,
.skills {
    width: 40%;
  }
}

#work {
  width: 100%;
  padding: 10px;
}

.portfolio-contain {
  width: 90%;
  margin: auto;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .portfolio-contain {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .portfolio-contain {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project {
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc5b9ff;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #ecf0f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 8px;
  transition: all 0.4s ease-in-out;
}

.project p.project-paragraph {
  width: 90%;
  text-align: center;
}

.project:hover .work-overlay {
  opacity: 1;
}

.project:hover {
  box-shadow: 0 1px 4px #403d39ff;
  border-color: #c0bdb8;
}

.project:hover h4.project-title,
.project:hover hr.hr {
  animation: projectSlideIn 1.5s forwards;
}

.project:hover p.project-paragraph {
  animation: projectSlideInRev 1.5s forwards;
}

.project hr.hr {
  width: 80%;
  border-top: 1px solid #eb5e28ff;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

.gallery-container p {
  text-align: center;
}

.photo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #ecf0f1;
  color: #403d39ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .email-add {
    order: 5;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 1.5s ease-in-out both;
  animation: slide-in-blurred-left 1.5s ease-in-out both;
}

.slide-in-blurred-left-hr {
  -webkit-animation: slide-in-blurred-left 1.5s ease-in-out 0.75s both;
  animation: slide-in-blurred-left 1.5s ease-in-out 0.75s both;
}

.slide-in-blurred-left-delay {
  -webkit-animation: slide-in-blurred-left 1.5s ease-in-out 1.25s both;
  animation: slide-in-blurred-left 1.5s ease-in-out 1.25s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-4 21:58:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * Own Animations
 * ----------------------------------------
 */
@keyframes projectSlideIn {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes projectSlideInRev {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0%);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

header h1 {
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 2px;
}
@media (min-width: 1024px) {
  header h1 {
    font-size: 2.4em;
  }
}

header h2 {
  text-align: center;
  font-size: 1.5em;
  color: #767069;
}
@media (min-width: 1024px) {
  header h2 {
    font-size: 1.8em;
  }
}

h2.section-header {
  text-align: center;
}

.quote {
  border-top: 1px solid rgba(64, 61, 57, 0.98);
  display: block;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  margin: 20px auto;
  flex-grow: 4;
  text-shadow: 1px 1px 1px #403d39ff;
}

.main-nav {
  background-color: #ecf0f1;
  height: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  padding-left: 20px;
  box-shadow: 0px 1px 4px #403d39ff;
}
@media (min-width: 768px) {
  .main-nav {
    padding-left: 0px;
  }
}

.wide-nav {
  display: none;
}
@media (min-width: 768px) {
  .wide-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 0px;
    max-width: 1000px;
  }
}

.wide-nav li {
  list-style-type: none;
  font-size: 1.5em;
}

.wide-nav a {
  text-decoration: none;
  color: #403d39ff;
  transition: color 0.4s ease-in-out;
}

.wide-nav a:hover {
  color: #eb5e28ff;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: rgba(64, 61, 57, 0.98);
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .overlay-content {
    margin-top: 20px;
  }
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 1.5em;
  padding: 5px;
  transition: 1.3s ease-in-out;
}
@media (min-width: 768px) {
  .overlay .closebtn {
    font-size: 2rem;
  }
}

.overlay .closebtn:hover {
  transform: rotate(540deg) scale(1.4);
}

span#menuIcon {
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
  color: #403d39ff;
  transition: 1s;
}
@media (min-width: 768px) {
  span#menuIcon {
    font-size: 30px;
    display: none;
  }
}

.social-icon {
  height: 60px;
  padding: 0 6px;
  fill: #ecf0f1;
}

.next,
.prev {
  height: 40px;
  padding: 0 6px;
  display: inline-block;
}

path {
  fill: #403d39ff !important;
  transition: fill 0.5s ease-in-out;
}

path:hover {
  fill: #767069 !important;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .header-img {
    margin: auto 20px;
  }
}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.photo {
  margin: 10px 20px;
  max-width: 600px;
}

.photo img {
  padding: 6px;
  border: 1px solid #403d39ff;
  border-radius: 6px;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.4s ease-in;
}

.photo img:hover {
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

a.project-link {
  display: block;
  background-color: #fff;
  height: 30px;
  width: 20%;
  border: 1px solid #403d39ff;
  border-radius: 6px;
  text-align: center;
  padding-top: 6px;
  font-size: 0.75em;
  text-decoration: none;
  color: #403d39ff;
  transition: color 0.4s ease-in-out;
}

.project .project-link {
  transition: background-color 0.5s ease-in-out;
}

.project .project-link:hover {
  background-color: #f4a485;
}

.project:hover .project-link {
  animation: projectSlideIn 1.5s forwards;
}

.overlay a {
  padding: 20px 8px;
  text-decoration: none;
  font-size: 1em;
  color: #fffcf2ff;
  display: block;
  transition: 1s;
  z-index: 10000;
}
@media (min-width: 768px) {
  .overlay a {
    font-size: 1.5rem;
  }
}

#about a:hover,
#about a:focus,
footer a:hover,
footer a:focus,
.overlay a:hover,
.overlay a:focus,
span#menuIcon:hover {
  color: #eb5e28ff;
  cursor: pointer;
}

#about a,
footer a {
  text-decoration: none;
  color: #403d39ff;
  transition: color 0.4s ease-in-out;
}

a:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
