
.overlay a {
    padding: 20px 8px;
    text-decoration: none;
    font-size: 1em;
    color: $floral-white;
    display: block;
    transition: 1s;
    z-index: 10000;
    @include medq($break-m) {
        font-size: 1.5rem;
    }
}

#about a:hover,
#about a:focus,
footer a:hover,
footer a:focus,
.overlay a:hover,
.overlay a:focus,
span#menuIcon:hover {
  @include linksHover
}

#about a,
footer a {
    @include links;

}

a:focus {
    outline: none;
}

