// Variables

// Colors

$white: #fff;

/* SCSS HEX */
$floral-white: #fffcf2ff;
$pale-silver: #ccc5b9ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$flame: #eb5e28ff;
$header-bg: #ecf0f1;

/* SCSS RGB */
$floral-white-a: rgba(255, 252, 242, .9);
$pale-silver-a: rgba(204, 197, 185, .5);
$black-olive-a: rgba(64, 61, 57, .98);
$eerie-black-a: rgba(37, 36, 34, .5);
$flame-a: rgba(235, 94, 40, .5);

// fonts

$text: 'Montserrat', sans-serif;;

// Breakpoints


$break-m: 768px;
$break-l: 1024px;